<div class="location-list-section">
    <div class="page-width">
        {% assign regionList = '' %}
        {% assign locationCount = 0 %}
        {% capture location_list %}
            {% assign sections = page.content | split: '***' %}
            {% for section in sections %}
                {% assign parts = section | strip_html | split: '---' %}
                {% assign title_state = parts[0] | split:'-' %}
                {% assign title = title_state[0] | strip_newlines | strip | strip_html %}
                {% assign state = title_state[1] | handleize %}
                {% assign regionList = regionList | append:',' | append:state %}
                {% if title != blank %}
                    {% assign pageNumber = locationCount | plus:1 | divided_by:2.0 | ceil %}
                    {% assign firstPageItems = false %}
                    {% if pageNumber == 2 %}
                        {% assign firstPageItems = locationCount %}
                    {% endif %}
                    <div class="location-item active" data-region="{{ state }}" data-page="{{ pageNumber }}">
                        <h3>
                            <span>{{ title }}</span>
                            <svg viewBox="0 0 8 8" fill="none" id="small-chevron-down">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.5 2.74749L1.48995 1.75754L3.99497 4.26256L6.5 1.75754L7.48995 2.74749L3.99497 6.24246L0.5 2.74749Z" fill="currentColor"></path>
                                </svg>
                        </h3>
                        <div class="location-content">
                            {% for part in parts %}
                                {% if forloop.index > 1 and part != '' %}
                                    {% assign block_parts = part | split: 'address:' %}
                                    {% assign block_title = block_parts[0] | replace: '[', '' | replace: ']', '' %}
                                    {% assign address_parts = block_parts[1] | split: 'enquiries:' %}
                                    {% assign block_address = address_parts[0] | newline_to_br | strip %}
                                    {% assign block_enquiries = address_parts[1] | newline_to_br | strip %}
                                    {% assign locationCount = locationCount | plus:1 %}
                                    <div class="location-block">
                                    <h4>
                                        <svg viewBox="0 0 16 19" fill="none" id="pin">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M16 0H0V16H4.66667L8 19L11.3333 16H16V0Z" fill="#F0D1DF"></path>
                                            </svg>
                                        <span>{{ block_title }}</span>
                                    </h4>
                                    <div class="location-address">
                                        <h5>
                                            <span class="icon">
                                                <svg viewBox="0 0 32 32" fill="none" id="location-pin-medium">
                                                    <path d="M18.149 22.1557L22.1871 16.2015C22.9303 15.1091 23.3153 13.8556 23.3063 12.5841C23.3063 12.4767 23.3064 12.3693 23.2974 12.2618C23.1094 8.5818 20.1904 5.60914 16.5194 5.34948C16.3403 5.34053 16.1612 5.33157 15.9911 5.33157C14.1377 5.33157 12.3648 6.02997 11.0128 7.29246C9.53543 8.67134 8.68481 10.6233 8.68481 12.6468C8.68481 13.9003 9.07878 15.1181 9.80404 16.1925L13.8512 22.1557C11.4426 22.3169 7.76257 22.8183 7.76257 24.3763V24.5554H7.78048C8.1655 26.6147 15.1853 26.6684 16.0001 26.6684C16.3403 26.6684 24.2375 26.6416 24.2375 24.3763C24.2375 22.8183 20.5665 22.3169 18.1579 22.1557H18.149ZM22.8139 23.1765C22.3125 22.9705 21.6947 22.8094 21.0142 22.684C21.6857 22.8094 22.3125 22.9705 22.8139 23.1765ZM10.6278 23.4809C10.9054 23.4182 11.2008 23.3645 11.5053 23.3108C11.1919 23.3645 10.9054 23.4182 10.6278 23.4809ZM22.2229 12.3245C22.2229 12.414 22.2229 12.5125 22.2229 12.602C22.2319 13.6496 21.9096 14.6883 21.2917 15.6105L15.9822 23.4361L10.6726 15.6016C10.0637 14.7062 9.74137 13.6944 9.74137 12.6737C9.74137 10.9277 10.4666 9.26229 11.7291 8.08934C12.8841 7.00593 14.3973 6.41499 15.9822 6.41499C16.1344 6.41499 16.2866 6.41498 16.4388 6.43289C19.5726 6.64778 22.0618 9.19065 22.2229 12.3245ZM21.444 15.709C21.7663 15.2345 22.0081 14.733 22.1692 14.2137C22.0081 14.733 21.7663 15.2434 21.444 15.709ZM15.5434 24.6897C15.6419 24.8329 15.812 24.9225 15.9911 24.9225C16.1702 24.9225 16.3313 24.8329 16.4388 24.6897L17.4506 23.1944C18.919 23.2571 20.2621 23.4182 21.3186 23.66C22.6617 23.9644 23.0467 24.2778 23.1362 24.3852C23.0467 24.4837 22.6617 24.7971 21.3186 25.1105C19.9039 25.4328 18.0147 25.6119 15.9911 25.6119C13.9675 25.6119 12.0873 25.4328 10.6636 25.1105C9.32054 24.8061 8.93553 24.4927 8.84599 24.3852C8.93553 24.2867 9.32054 23.9734 10.6636 23.66C11.7202 23.4182 13.0543 23.2571 14.5316 23.1944L15.5434 24.6897ZM23.1183 12.2797C23.1183 12.3872 23.1273 12.4856 23.1273 12.5931C23.1273 13.1572 23.0467 13.7034 22.8945 14.2496C23.0467 13.7123 23.1273 13.1572 23.1273 12.5931C23.1273 12.4856 23.1273 12.3872 23.1183 12.2797C23.0825 11.6082 22.9572 10.9546 22.7423 10.3457C22.9482 10.9546 23.0825 11.6082 23.1183 12.2797ZM21.8916 8.63552C22.1334 8.98472 22.3393 9.36078 22.5095 9.7458C22.3393 9.35183 22.1244 8.98472 21.8916 8.63552C21.6499 8.28633 21.3813 7.95504 21.0858 7.65956C21.3813 7.96399 21.6499 8.28633 21.8916 8.63552ZM16.5104 5.53751C16.2955 5.5196 16.0806 5.5196 15.8658 5.52856C15.9105 5.52856 15.9463 5.52856 15.9911 5.52856C16.1612 5.52856 16.3403 5.52856 16.5104 5.54647V5.53751ZM15.5613 5.54647C15.427 5.54647 15.2927 5.56437 15.1584 5.58228C15.2927 5.56437 15.427 5.55542 15.5613 5.54647ZM14.1645 5.76135C14.0392 5.79717 13.9049 5.83299 13.7795 5.87776C13.9049 5.83299 14.0302 5.79717 14.1645 5.76135ZM12.2574 6.58511C12.1231 6.6657 11.9977 6.75522 11.8634 6.85371C11.9888 6.76418 12.1231 6.67465 12.2574 6.58511ZM15.9911 26.5073C16.5104 26.5073 17.1193 26.4894 17.7729 26.4536C17.1282 26.4894 16.5194 26.5073 15.9911 26.5073ZM24.0495 24.3942C24.0495 23.9734 23.7182 23.6242 23.1631 23.3466C23.7093 23.6242 24.0495 23.9644 24.0495 24.3942Z" fill="currentColor"></path>
                                                    <path d="M12.8394 12.4498C12.8394 14.1869 14.2541 15.6016 15.9911 15.6016C17.7281 15.6016 19.1428 14.1869 19.1428 12.4498C19.1428 10.7128 17.7281 9.29811 15.9911 9.29811C14.2541 9.29811 12.8394 10.7128 12.8394 12.4498ZM16.0001 10.3726C17.1462 10.3726 18.0773 11.3037 18.0773 12.4498C18.0773 13.5959 17.1462 14.5271 16.0001 14.5271C14.854 14.5271 13.9228 13.5959 13.9228 12.4498C13.9228 11.3037 14.854 10.3726 16.0001 10.3726ZM17.6565 14.9121C17.3431 15.127 16.976 15.2792 16.591 15.3598C16.394 15.3956 16.197 15.4225 15.9911 15.4225C16.197 15.4225 16.394 15.4046 16.591 15.3598C16.976 15.2792 17.3342 15.127 17.6565 14.9121C17.8983 14.751 18.1132 14.5361 18.2922 14.3033C18.1042 14.5361 17.8983 14.742 17.6565 14.9121ZM17.6565 9.97859C18.4444 10.5158 18.9727 11.4202 18.9727 12.4409C18.9727 11.4112 18.4534 10.5069 17.6565 9.97859C17.3431 9.7637 16.976 9.61149 16.591 9.5309C16.394 9.49509 16.197 9.46822 15.9911 9.46822C16.197 9.46822 16.394 9.48613 16.591 9.5309C16.976 9.61149 17.3342 9.7637 17.6565 9.97859Z" fill="currentColor"></path>
                                                    </svg>
                                            </span>
                                            <span>address</span>
                                        </h5>
                                        <p>{{ block_address | replace:'\n','<br/>' }}</p>
                                    </div>
                                    <div class="location-enquiries">
                                        <h5>
                                            <span class="icon">
                                                <svg viewBox="0 0 32 32" fill="none" id="telephone-small">
                                                    <path d="M13.5361 7.62002C13.8061 7.59002 14.0061 7.35001 13.9761 7.08001C13.9461 6.83001 13.7361 6.64001 13.4861 6.64001H13.4261C11.4661 6.85001 9.70607 7.81001 8.45607 9.35001C7.21607 10.89 6.63607 12.81 6.84607 14.77C6.87607 15.02 7.08607 15.21 7.33607 15.21H7.39607C7.66607 15.18 7.85607 14.94 7.83607 14.67C7.46607 11.16 10.0261 8.00001 13.5361 7.63001V7.62002ZM13.7761 7.10001C13.7761 7.02001 13.7261 6.96001 13.6761 6.91001C13.7361 6.96001 13.7761 7.02001 13.7761 7.10001ZM13.4561 6.84001C13.4561 6.84001 13.4761 6.84001 13.4861 6.84001C13.5361 6.84001 13.5661 6.87001 13.6061 6.89001C13.5561 6.86001 13.5061 6.84001 13.4461 6.84001H13.4561ZM7.37607 15C7.45607 15 7.52607 14.95 7.57607 14.89C7.52607 14.95 7.45607 14.99 7.37607 15Z" fill="currentColor"></path>
                                                    <path d="M10.7461 11.24C9.83607 12.37 9.41607 13.78 9.56607 15.22C9.59607 15.47 9.80607 15.66 10.0561 15.66H10.1161C10.3861 15.63 10.5761 15.39 10.5561 15.12C10.4361 13.94 10.7761 12.78 11.5161 11.86C12.2661 10.94 13.3261 10.36 14.5061 10.24C14.7761 10.21 14.9761 9.97002 14.9461 9.70002C14.9161 9.45002 14.7061 9.26001 14.4561 9.26001H14.4061C12.9661 9.41001 11.6661 10.12 10.7561 11.24H10.7461ZM10.3461 15.14C10.3661 15.3 10.2461 15.45 10.0861 15.46C10.2461 15.44 10.3661 15.3 10.3461 15.14C10.2861 14.52 10.3461 13.91 10.5061 13.34C10.3361 13.92 10.2761 14.53 10.3461 15.14ZM14.7361 9.72001C14.7361 9.64001 14.6861 9.58001 14.6361 9.53001C14.6961 9.58001 14.7361 9.64001 14.7361 9.72001ZM14.4461 9.46002C14.4461 9.46002 14.5261 9.49001 14.5761 9.51001C14.5261 9.49001 14.4761 9.46002 14.4161 9.46002C14.4261 9.46002 14.4361 9.46002 14.4461 9.46002Z" fill="currentColor"></path>
                                                    <path d="M23.8161 8.25002L23.7161 8.19001L22.2761 7.32001C21.7861 7.02001 21.2161 6.86001 20.6461 6.86001C20.3961 6.86001 20.1561 6.89002 19.9161 6.95002C19.1061 7.14002 18.4161 7.64001 17.9761 8.36001L14.1561 14.58L9.06607 19.14C8.32607 19.81 7.94607 20.76 8.03607 21.75C8.12607 22.74 8.66607 23.61 9.51607 24.14L10.7661 24.9C11.2561 25.2 11.8161 25.36 12.3961 25.36C13.1761 25.36 13.9161 25.08 14.4861 24.56L20.7461 18.95L20.8161 18.88C20.8161 18.88 20.8561 18.83 20.8661 18.81L24.7361 12.51C25.6161 11.07 25.1961 9.19001 23.7961 8.27001L23.8161 8.25002ZM13.8361 23.81C13.4461 24.16 12.9361 24.35 12.4061 24.35C12.0061 24.35 11.6261 24.24 11.2861 24.04L11.2361 24.01L10.0361 23.28C9.45607 22.92 9.08607 22.33 9.02607 21.65C8.96607 20.97 9.21607 20.32 9.72607 19.86L14.5961 15.49L19.6561 18.59L14.1761 23.51L13.8461 23.81H13.8361ZM13.5161 24.27C13.4361 24.31 13.3561 24.35 13.2761 24.39C13.3561 24.36 13.4361 24.32 13.5161 24.27ZM11.7061 24.45C11.5161 24.39 11.3361 24.32 11.1661 24.22C11.3361 24.32 11.5161 24.4 11.7061 24.45ZM8.81607 21.68C8.86607 22.24 9.10607 22.74 9.48607 23.13C9.09607 22.75 8.86607 22.24 8.81607 21.68ZM11.7961 24.48C11.9761 24.53 12.1561 24.55 12.3361 24.55C12.1561 24.55 11.9661 24.52 11.7961 24.48ZM23.9061 11.99L23.8761 12.04L20.3061 17.86L18.7261 16.89L15.2161 14.74L18.8161 8.88001C19.2061 8.24001 19.8961 7.86001 20.6461 7.86001C21.0361 7.86001 21.4261 7.97001 21.7661 8.18001L23.2061 9.06001C23.6961 9.36001 24.0361 9.83001 24.1661 10.39C24.2961 10.95 24.2061 11.52 23.9061 12.01V11.99ZM21.3261 7.76001C21.5061 7.82001 21.6861 7.89002 21.8661 7.99002C21.6961 7.88002 21.5161 7.81001 21.3261 7.76001ZM20.7361 7.66002C20.8861 7.66002 21.0261 7.69001 21.1761 7.72001C21.0361 7.69001 20.8861 7.67002 20.7361 7.66002ZM19.1161 8.22001C19.2161 8.13001 19.3161 8.06002 19.4361 7.99002C19.3261 8.06002 19.2161 8.13001 19.1161 8.22001ZM19.5761 7.91002C19.7061 7.84002 19.8461 7.79002 19.9961 7.75002C19.8561 7.79002 19.7161 7.85002 19.5761 7.91002ZM20.0761 7.72001C20.2461 7.68001 20.4261 7.66001 20.5961 7.65001C20.4161 7.65001 20.2461 7.67001 20.0761 7.72001ZM20.7561 7.08001C20.7061 7.08001 20.6461 7.07001 20.5961 7.08001C20.6161 7.08001 20.6261 7.08001 20.6461 7.08001C20.6861 7.08001 20.7261 7.09001 20.7561 7.10001V7.08001ZM8.52607 20.2C8.29607 20.67 8.17607 21.2 8.22607 21.74C8.17607 21.19 8.29607 20.67 8.52607 20.2Z" fill="currentColor"></path>
                                                    <path d="M16.6761 19.56C16.7561 19.62 16.8561 19.65 16.9561 19.65C17.1161 19.65 17.2661 19.57 17.3661 19.44C17.4461 19.33 17.4661 19.2 17.4461 19.07C17.4261 18.94 17.3461 18.83 17.2461 18.75L14.8761 17.11C14.7961 17.05 14.6961 17.02 14.5961 17.02C14.4361 17.02 14.2861 17.1 14.1861 17.23C14.1061 17.34 14.0861 17.47 14.1061 17.6C14.1261 17.73 14.2061 17.84 14.3061 17.92L16.6761 19.56ZM14.3461 17.35C14.3861 17.29 14.4461 17.26 14.5161 17.24C14.4561 17.26 14.3861 17.29 14.3461 17.35ZM16.9561 19.45C16.9561 19.45 16.9761 19.45 16.9861 19.45C16.9861 19.45 16.9661 19.45 16.9561 19.45ZM14.7561 17.27C14.6961 17.23 14.6261 17.22 14.5561 17.23C14.5661 17.23 14.5761 17.23 14.5861 17.23C14.6461 17.23 14.7061 17.25 14.7561 17.28V17.27Z" fill="currentColor"></path>
                                                    <path d="M15.0961 20.87C15.1761 20.93 15.2761 20.96 15.3761 20.96C15.5361 20.96 15.6861 20.88 15.7861 20.75C15.9461 20.53 15.8861 20.22 15.6661 20.06L13.2961 18.42C13.2161 18.36 13.1161 18.33 13.0161 18.33C12.8561 18.33 12.7061 18.41 12.6061 18.54C12.4461 18.76 12.5061 19.07 12.7261 19.23L15.0961 20.87ZM13.1761 18.58L15.5461 20.22C15.6761 20.31 15.7161 20.5 15.6161 20.63C15.7061 20.5 15.6761 20.31 15.5461 20.22L13.1761 18.58C13.1161 18.54 13.0461 18.53 12.9761 18.54C12.9861 18.54 12.9961 18.54 13.0161 18.54C13.0761 18.54 13.1361 18.56 13.1861 18.59L13.1761 18.58ZM12.9361 18.55C12.8761 18.57 12.8061 18.6 12.7661 18.66C12.8061 18.6 12.8661 18.57 12.9361 18.55Z" fill="currentColor"></path>
                                                    <path d="M14.2961 21.73C14.2761 21.6 14.1961 21.49 14.0961 21.41L11.7261 19.77C11.6461 19.71 11.5461 19.68 11.4461 19.68C11.2861 19.68 11.1361 19.76 11.0361 19.89C10.9561 20 10.9361 20.13 10.9561 20.26C10.9761 20.39 11.0561 20.5 11.1561 20.58L13.5261 22.22C13.6061 22.28 13.7061 22.31 13.8061 22.31C13.9661 22.31 14.1161 22.23 14.2161 22.1C14.2961 21.99 14.3161 21.86 14.2961 21.73ZM11.6161 19.94C11.5561 19.9 11.4861 19.89 11.4161 19.9C11.4261 19.9 11.4361 19.9 11.4561 19.9C11.5161 19.9 11.5761 19.92 11.6261 19.95L11.6161 19.94ZM11.3761 19.91C11.3161 19.93 11.2461 19.96 11.2061 20.02C11.2461 19.96 11.3061 19.93 11.3761 19.91ZM13.8161 22.12C13.8161 22.12 13.9061 22.11 13.9461 22.09C13.9061 22.11 13.8561 22.12 13.8161 22.12Z" fill="currentColor"></path>
                                                    <path d="M23.1161 11.65L19.5061 9.49002C19.4261 9.44002 19.3461 9.42001 19.2561 9.42001C19.0861 9.42001 18.9361 9.51001 18.8361 9.65001L16.6661 13.05C16.5961 13.16 16.5761 13.3 16.5961 13.43C16.6261 13.56 16.7061 13.67 16.8161 13.74L20.4361 15.98C20.5161 16.03 20.6061 16.05 20.6961 16.05C20.8661 16.05 21.0261 15.96 21.1161 15.82L23.2761 12.34C23.3461 12.23 23.3661 12.09 23.3361 11.97C23.3061 11.84 23.2261 11.73 23.1061 11.66L23.1161 11.65ZM20.5461 14.87L17.7661 13.15L19.4161 10.57L22.1861 12.23L20.5461 14.87ZM19.4061 9.65001C19.3461 9.61001 19.2761 9.61002 19.2061 9.62002C19.2261 9.62002 19.2361 9.61001 19.2561 9.61001C19.3061 9.61001 19.3561 9.62001 19.4061 9.65001ZM20.7061 15.84C20.7961 15.84 20.8961 15.79 20.9461 15.71C20.8861 15.79 20.7961 15.84 20.7061 15.84ZM23.1161 12.22C23.1561 12.16 23.1561 12.09 23.1461 12.03C23.1461 12.1 23.1461 12.17 23.1161 12.22ZM23.1561 12C23.1361 11.92 23.0861 11.86 23.0161 11.82C23.0861 11.86 23.1361 11.93 23.1561 12Z" fill="currentColor"></path>
                                                    </svg>
                                            </span>
                                            <span>enquiries</span>
                                        </h5>
                                        <p>{{ block_enquiries | replace:'\n','<br/>' }}</p>
                                    </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endcapture %}
        <div class="location-box">
            {% if section.blocks.size > 0 %}
                <div class="location-tabs tab-links">
                    {% for block in section.blocks %}
                        {% assign tabPage = pages[block.settings.location] %}
                        <a href="{{ tabPage.url }}" class="tab-link {% if tabPage.handle == page.handle %}active{% endif %}">
                            {{ block.settings.title }}
                        </a>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="location-search">
                {% if section.settings.description != blank %}
                    <div class="location-description">
                        {{ section.settings.description }}
                    </div>
                {% endif %}
                <div class="location-form">
                    <form method="post" id="location-form">
                        <div class="input-field">
                            <label>&nbsp;</label>
                            <input type="text" class="field__input" placeholder="enter suburb or postcode" name="location-keyword">
                        </div>
                        {% assign regions = regionList | split:',' | uniq | sort %}
                        <div class="select-field">
                            <label>state/region</label>
                            <select class="select__select region-select" name="location-region">
                                <option value="all" selected>all</option>
                                {% for region in regions %}
                                    {% unless forloop.first %}
                                        <option value="{{region}}">{{region}}</option>
                                    {% endunless %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="input-button">
                            <button type="submit" class="button button--secondary">
                                search
                            </button>
                        </div>
                    </form>
                </div>

                <div class="result-summary">
                    <span class="result-current">1</span>
                    -
                    <span class="result-pagination">
                        {{ locationCount }}
                    </span>
                    of
                    <span class="result-total">{{ locationCount }}</span>
                    {{ locationCount | pluralize: 'item', 'items' }}
                </div>
            </div>

        </div>
        <div id="location-list">
            {{ location_list }}
            <div class="not-found hidden">No locations found.</div>
        </div>
        {% comment %}
            <div class="location-pagination">
                <span class="pagination-status">
                    page
                    <span class="current">1</span>
                    of
                    <span class="total">{{ pageNumber }}</span>
                </span>
                <div class="pagination-list" data-current-page="1">
                    <button type="button" class="first-page hidden">
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.4419 4.05806C10.686 4.30214 10.686 4.69786 10.4419 4.94194L8.38388 7L10.4419 9.05806C10.686 9.30214 10.686 9.69786 10.4419 9.94194C10.1979 10.186 9.80214 10.186 9.55806 9.94194L7.05806 7.44194C6.81398 7.19786 6.81398 6.80214 7.05806 6.55806L9.55806 4.05806C9.80214 3.81398 10.1979 3.81398 10.4419 4.05806Z" fill="#282828"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M6.44194 4.05806C6.68602 4.30214 6.68602 4.69786 6.44194 4.94194L4.38388 7L6.44194 9.05806C6.68602 9.30214 6.68602 9.69786 6.44194 9.94194C6.19786 10.186 5.80214 10.186 5.55806 9.94194L3.05806 7.44194C2.81398 7.19786 2.81398 6.80214 3.05806 6.55806L5.55806 4.05806C5.80214 3.81398 6.19786 3.81398 6.44194 4.05806Z" fill="#282828"></path></svg>
                    </button>
                    <button type="button" class="previous-page hidden">
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 4.5L5.5 7L8 9.5" stroke="#282828" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                    </button>
                    <ul>
                        {% for i in (1..pageNumber) %}
                            <li {% if forloop.first %}class="active"{% endif %}>
                                <button type="button" data-page="{{ i }}" class="number-page">{{ i }}</button>
                            </li>
                        {% endfor %}
                    </ul>
                    <button type="button" class="next-page">
                        <svg width="14" height="14" fill="none" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg"><path d="M6 9.5L8.5 7L6 4.5" stroke="#282828" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                    </button>
                    <button type="button" class="last-page">
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M3.55806 9.94194C3.31398 9.69786 3.31398 9.30214 3.55806 9.05806L5.61612 7L3.55806 4.94194C3.31398 4.69786 3.31398 4.30214 3.55806 4.05806C3.80214 3.81398 4.19786 3.81398 4.44194 4.05806L6.94194 6.55806C7.18602 6.80214 7.18602 7.19786 6.94194 7.44194L4.44194 9.94194C4.19786 10.186 3.80214 10.186 3.55806 9.94194Z" fill="#282828"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M7.55806 9.94194C7.31398 9.69786 7.31398 9.30214 7.55806 9.05806L9.61612 7L7.55806 4.94194C7.31398 4.69786 7.31398 4.30214 7.55806 4.05806C7.80214 3.81398 8.19786 3.81398 8.44194 4.05806L10.9419 6.55806C11.186 6.80214 11.186 7.19786 10.9419 7.44194L8.44194 9.94194C8.19786 10.186 7.80214 10.186 7.55806 9.94194Z" fill="#282828"></path></svg>
                    </button>
            </div>
        {% endcomment %}
    </div>
</div>

{% schema %}
  {
    "name": "Salon Locator",
    "settings": [
        {
            "type": "textarea",
            "id": "description",
            "label": "Description"
        }
    ],
    "blocks": [
        {
            "type": "location",
            "name": "Locations",
            "settings":[
                {
                    "type": "text",
                    "id": "title",
                    "label": "Location Name"
                },
                {
                    "type": "page",
                    "id": "location",
                    "label": "Location Data"
                }
            ]
        }
    ],
    "presets": [
        {
          "name": "Salon Locator"
        }
    ]
  }
{% endschema %}